<!DOCTYPE html>
<html lang="en">
<body>
<form method="post" action="../controller/ajouterProduit.php">
<table border="1">
    <tr><td>code </td>
        <td><input type ="text" name ="code"></td></tr>
    <tr><td>Nom</td>
        <td><input type ="text" name ="nom"></td></tr>
        <tr><td>Image</td>
        <td><input type ="text" name = "image"></td></tr>
        <tr><td>Description</td>
        <td><input type ="text" name = "description" ></td></tr>
        <tr><td>Prix</td>
        <td><input type ="text" name = "prix"></td></tr>
        <tr><td>Quantite de stock</td>
        <td><input type ="number" name = "quantite_stock" ></td></tr>
        <tr><td>Couleur</td>
        <td><input type ="text" name = "couleur"></td></tr>
        <tr><td>Taille</td>
        <td><input type ="text" name = "taille"></td></tr>
<tr> <td> </td>
<td><input type="submit" name="Submit" value="Enregistrer"></td>
</tr>
</table>
</form>
</body>
</html>