body 
{
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20%;
        margin-right:20%;
        margin-bottom: 5px;
        padding: 0px 15px 0 15px;
        background:url("imgInfo/arriere\ plan.jfif");
}
#rech
{
       /*
width: 50%;
padding: 10px 150px;
margin: 70px 50px 50px 0;
display:inline-block;
background: #F5F5F5;
border: 1px solid rgb(191, 191, 193);
border-radius: 2px;*/
width: 1000%;
height: 30px;
font-size: 16px;
padding: 5px;
margin-right: 10px;
border: 1px solid #fff;
border-radius: 5px;
color: #333;
background-color: #fff;

}

input[type=text], input[type=password]
{
width: 97%;
padding: 10px;
margin: 20px 0 22px 0;
display:inline-block;

background: #F5F5F5;
border: 1px solid rgb(191, 191, 193);
border-radius: 3px;
}
input[type=file]
{
width: 97%;
padding: 10px;
margin: 20px 0 22px 0;
}
textarea{
width: 97%;
padding: 10px;
margin: 20px 0 22px 0;
display:inline-block;
background: #F5F5F5;
border: 1px solid rgb(163, 163, 167);
border-radius:3px;
}
hr 
{
border: 1px solid #e6e6e6;
margin-bottom: 5px;
}

.listeProduits{
        border: none;
        cursor: pointer;
        width: 97%;
        font-weight:bold;
        background-color:rgb(213, 187, 205);                
        color: white;
        border-radius: 6px;
        font-size: 14px;
        padding: 10px 150px 10px 270px;
        margin:center;
        display:flexbox;
        text-align: center;
}


#s{
       background-color:rgb(213, 187, 205);
        color: white;
        border-radius: 3px;
        font-size: 14px;
        padding:10px 40px;
        margin: 70px 150px 22px 0px;
        border: none;
        cursor: pointer;
        width: 150%;
        font-weight:bold;
        text-align: center;
        display:flex;
        } 

     


#logo{
    width : 2500px;
    height: 200px;
   /* margin-top :40px ;
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 40px; 
    padding-left: 30px;
    padding-right: 10px;*/
    }

    #pc{ width : 150px;
       height: 130px;
       margin-top :10px ;
       margin-right: 40px;
       padding-right: 40px; 
     
        }


 
Section {  
    display : flex;
    }

header{
        display : flex;
        justify-content :space-between ;
        background: url("Images/separateur.png") repeat-x bottom;
        align-items :flex-start;
        }
               
aside{
            flex :1.2;
            position :relative;
            box-shadow : 0px 2px 5px #1c1a19 ;
            background-color: white;
             border-radius: 6px;
            Padding : 100px ;
            Color : black ;
             margin:50px ;
             padding:60px 80px;  
             font-weight: 100px;
             position: relative;    
             }

center{
        color: rgb(133, 28, 133);
        font-weight: blod;
        font-size: 2.5em;
        font-family:Arial, Helvetica, sans-serif;
    
}



input[type=submit]{
background-color:rgb(213, 187, 205);
color: white;
border-radius: 6px;
font-size: 14px;
padding:10px 250px ;
margin: 30px 40px 22px 0px;
border: none;
cursor: pointer;
width: 97%;
font-weight:bold;
text-align: center;
display:flex;

} 
.tab{
min-height:100vh;
display:flex;
align-items: center;
justify-content: center;
position:relative;
 }        


 .contenu a{
        text-decoration: 0;


 } 
 .contenu a:hover{
       color: rgb(213, 187, 205); 
        text-decoration: underline;       
 }  
         
 .liste{
  
    overflow:auto; 
    width: 97%;
    height: 30vh;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(243, 205, 237);
}
 .produit{
        margin: 3px 0;
        height :100px;
        display: flex;
 }
 .produit.imageProduit{
        height: 100%;
        width:100px;
        object-fit: cover;
      
 }
.produit .text{
 margin-left: 15px;
 overflow: hidden;      
       width: 80%;
      
       height: 220%;
}
.produit .text.titre{
      text-transform: uppercase;

      }
      .description{
 height: 10000%;      
       font-size: 19px;
       margin-left: 15px;
overflow:hidden;
width: 100%;

       }


 Table{  
       float:center;
       vertical-align: center;
       border: 2px solid gray;
        }
       td, tr {
       border: thin solid gray;
       padding: 5px 30px;
       font-weight: 500;
       margin-block-start: 50px;
       font-family: Arial;
       text-align: justify;
       font-size: 14px;
     line-height: 20px;
       }
       th{
              font-size : 18pt ; 
              color: rgb(211, 156, 203);
              font-family:fangsong;
              padding: 5px 20px;
              font-weight: 500;
              font-weight:bold;
               
     
       }
       #imgAdd{ 
             
              height: 30px  ;         
              margin-right:5px ;
             
               }

p{
margin-left: 15px;
overflow:hidden;
width: 80%;
}
h2{
       font-weight:bold;
       font-size : 13pt ; 
       color : #c55d89 ;
       font-family:fangsong;
       margin-top: 10px;
 }

 h3{
       font-weight:bold;
       font-size : 13pt ; 
       color :#100f0f ;
       font-family:fangsong; }

